.cell {
    background: #ddd;
    border: 1px solid #aaa;

    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
}

/* open */
.cell_status_s1 {
    background: #fff;
}

/* flagged */
.cell_status_s2 {
    background-image: url("sprite.png");
}

.cell_value_v1 {
    color: blue;
}
.cell_value_v2 {
    color: green;
}
.cell_value_v3 {
    color: red;
}
.cell_value_v4 {
    color: purple;
}
.cell_value_v5 {
    color: brown;
}
.cell_value_v6 {
    color: blue;
}
.cell_value_v7 {
    color: black;
}
.cell_value_v8 {
    color: grey;
}

/* bomb */
.cell_value_v-1 {
    background: #f00;
}
